* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boxes {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box {
  width: 20%;
  height: 20%;
  padding: 10px;
  border: solid 1px orange;
  margin-left: 20px;
}
button {
  width: 100px;
  height: 45px;
  background-color: green;
  font-size: 24px;
}
