* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.GuessTheNumber {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  background-color: aqua;
  margin: 15px;
  padding: 15px;
}
/* .part1 button {
  width: 60px;
  height: 20px;
  border: none;
  border-radius: 3px;
  background-color: bisque;
} */
.part2 button {
  border: none;
  border-radius: 2px;
  width: 60px;
  height: 20px;
}

.part3 button {
  border: none;
  border-radius: 2px;
  width: 160px;
  height: 20px;
}
