* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boxes {
  width: 750px;
  height: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 30%;
  padding: 10px;
  border: solid 1px orange;
  margin-left: 20px;
}

button {
  background-color: grey;
  margin-left: 30px;
  width: 100px;
  height: 30px;
  color: white;
  font-size: 24px;
}
